<ul class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link" href="./index.html">Dashboard</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="./atletas.html">Atletas</a>
    </li>
    <li class="nav-item">
        <a class="nav-link " href="./planes.html">Planes</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="./detalle.html">Detalle</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="./feedback-rpe.html">Feedback</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="./configuracion.html">Configuración</a>
    </li>
</ul>
<div class="footer">
    &copy; 2025 RPE Tracker <span class="ms-2">v0.1.0</span>
</div>